services:
  caddy:
    image: caddy:2.10-alpine
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./caddy:/etc/caddy
      - caddy_data:/data

  backend:
    build: backend/
    volumes:
      - ./backend:/app

  frontend:
    build: frontend/
    volumes:
      - ./frontend:/app
      - node_modules:/app/node_modules

volumes:
  caddy_data:
  node_modules:
