:root {
  --pink-lavender: #ffcbf2ff;
  --mauve: #f3c4fbff;
  --mauve-2: #ecbcfdff;
  --mauve-3: #e5b3feff;
  --mauve-4: #e2afffff;
  --mauve-5: #deaaffff;
  --mauve-6: #d8bbffff;
  --periwinkle: #d0d1ffff;
  --columbia-blue: #c8e7ffff;
  --celeste: #c0fdffff;
  --title: linear-gradient(to right, #d144d1ff, rgb(199, 145, 243));

  --background: linear-gradient(75deg, var(--mauve-2), var(--mauve));
  --button-background: var(--mauve-5);
  --button-border: var(--mauve-6);
  --button-border-radius: 30px;

  --input-border: var(--periwinkle);
  --input-outline: var(--mauve-5);
  --input-text-color: rgba(0, 0, 0, 0.8);
  --input-border-radius: 50px;

  --error-color: #f76060;

  --font-small: 1.5rem;
  --font-medium: 2.5rem;
  --font-big: 3rem;
  --font-huge: 5rem;

  @media (max-width: 600px) {
    --font-small: 1rem;
    --font-medium: 1.5rem;
    --font-big: 2rem;
    --font-huge: 4rem;
  }
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  font-family: "Sour Gummy", sans-serif;
}

body {
  background: var(--background);
  justify-content: center;
  align-items: center;
  display: flex;
}
