@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --pink-lavender: #ffcbf2ff;
  --mauve: #f3c4fbff;
  --mauve-2: #ecbcfdff;
  --mauve-3: #e5b3feff;
  --mauve-4: #e2afffff;
  --mauve-5: #deaaffff;
  --mauve-6: #d8bbffff;
  --periwinkle: #d0d1ffff;
  --columbia-blue: #c8e7ffff;
  --celeste: #c0fdffff;

  --background: linear-gradient(75deg, var(--mauve-2), var(--mauve));
  --button-background: var(--mauve-5);
  --button-border: var(--mauve-6);
  --button-border-radius: 30px;

  --font-small: 1rem;
  --font-medium: 2.5rem;
  --font-big: 3rem;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;

}

p {
  font-family: "Sour Gummy", sans-serif;
}

body {
  background: var(--background);
  justify-content: center;
  align-items: center;
  display: flex;
}